.Rproj.user
*

!setup.sh
!seq2mgs.sh
!readme.txt
!tutorial.md
!settings.txt
!.gitignore

!*/

!dataAndScripts/
!dataAndScripts/seq2mgs.R
!dataAndScripts/setup.R
!dataAndScripts/createSeq2mgsDB.sql

!dataAndScripts/testData/
!dataAndScripts/testData/input.csv
!dataAndScripts/testData/background.fastq.gz
!dataAndScripts/testData/isolate_1.fastq.gz
!dataAndScripts/testData/isolate_2.fastq.gz
